main {
  height: 101vh;
  background-color: black;
  font-size: 26px;
}

p {
  color: white;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper .wrapper_item {
  color: white;
  background: red;
  width: 15%;
  padding: 15px;
  border: 1px solid white;
}

@media (max-width: 900px) {
  .wrapper {
    flex-wrap: wrap;
  }

  .wrapper .wrapper_item {
    width: calc(45% - 60px);
    padding: 30px;
  }

  .wrapper .wrapper_item:last-child {
    width: 100%;
  }
}

@media (max-width: 300px) {
  main {
    font-size: 14px;
  }

  .wrapper {
    flex-direction: column;
  }

  .wrapper .wrapper_item {
    width: calc(100% - 40px);
    padding: 10px 20px;
    margin-bottom: 10px;
  }

  .wrapper .wrapper_item:last-child {
    width: calc(100% - 40px);
    margin-bottom: 0px;
  }
}
